## Coursera Capstone Project - Week 3 - Segmenting and Clustering Toronto Neighborhoods
### Question 1 -- scraping the Wikipedia webpage and creating the dataset

In [2]:
import pandas as pd

In [3]:
df=pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]

In [4]:
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [5]:
df.shape

(180, 3)

In [6]:
import numpy as np

# replace "Not assigned" to NaN
df.replace("Not assigned", np.nan, inplace = True)
df.head(5)

  Postal Code           Borough              Neighbourhood
0         M1A               NaN                        NaN
1         M2A               NaN                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [7]:
df.dropna(subset=["Borough"], axis=0, inplace=True)

In [8]:
df.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [9]:
df.reset_index(drop=True, inplace=True)

In [10]:
df.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [11]:
df.shape

(103, 3)

### Question 2 -- Adding latitude and longitude

In [29]:
df_coords=pd.read_csv("http://cocl.us/Geospatial_data")
df.shape

(103, 3)

In [13]:
df_coords.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [33]:
df_coords_sorted = df_coords.sort_values(by=['Postal Code'])
df_coords_sorted.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [34]:
df_coords_sorted.reset_index(drop=True, inplace=True)
df_coords_sorted.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [21]:
df_sorted = df.sort_values(by=['Postal Code'])

In [22]:
df_sorted.head()

   Postal Code      Borough                           Neighbourhood
6          M1B  Scarborough                          Malvern, Rouge
12         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
18         M1E  Scarborough       Guildwood, Morningside, West Hill
22         M1G  Scarborough                                  Woburn
26         M1H  Scarborough                               Cedarbrae

In [28]:
df_sorted.reset_index(drop=True, inplace=True)
df_sorted.shape

(103, 3)

In [35]:
df_sorted.head()

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [36]:
df_sorted['Latitude'] = df_coords_sorted['Latitude']

In [37]:
df_sorted.head()

  Postal Code      Borough                           Neighbourhood   Latitude
0         M1B  Scarborough                          Malvern, Rouge  43.806686
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek  43.784535
2         M1E  Scarborough       Guildwood, Morningside, West Hill  43.763573
3         M1G  Scarborough                                  Woburn  43.770992
4         M1H  Scarborough                               Cedarbrae  43.773136

In [38]:
df_sorted['Longitude'] = df_coords_sorted['Longitude']

In [39]:
df_sorted.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476